@charset "UTF-8";
@import url(../header.css);
@import url(../footer.css);
@import url(./modifyAccount.css);

#section {
	width: 480px;
}

#section #DeleteBox #delete_section {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 480px;
}


@media only screen and (max-width: 480px) {
	#section {
		min-width: 280px;
		margin-top: 50px;
		width: 100%;
	}
	
	#section #DeleteBox #delete_section {
		width: 100%;
		margin: 0;
		padding: 0 10px;
	}
	
	#section #DeleteBox #delete_section #inputArea > input {
		font-size: 15px;
	}
	
}

@media only screen and (max-width: 400px) {
	#fail {
		font-size: 12px;
	}	
}
@media only screen and (max-width: 320px) {
	h2 {
		font-size: 20px;	
	}
	
	#section #DeleteBox #delete_section #inputArea > p {
		font-size: 20px;
	}
	
	#section #DeleteBox #delete_section #inputArea > input {
		height: 35px;
	}
	
}