@charset "UTF-8";

@import url(../header.css);
@import url(../footer.css);
@import url(../signin/signin.css);

#login_section > p {
	font-size: 20px;
	margin-bottom: 10px;
}

#login_section p > input {
	font-size: 20px;
	border: none;
	background: #fff;
	color: #000;
}

#login_section > a {
	display: block;
	color: #fff;
	text-decoration: none;
	background: #343a40;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 15px;
	font-size: 20px;
	margin-top: 30px;
}

@media only screen and (max-width: 850px) {
	#login_section > p {
		font-size: 15px;
	}
	
	#login_section p > input {
		width: 150px;
		font-size: 15px;
	}
}

@media only screen and (max-width: 480px) {
	h2 {
		font-size: 23px;
	}
}