@charset "EUC-KR";

/*  */
/*  */
/*  */
/*  */
/* identity_verification */

fieldset div {
	margin: 1.215em 0 1.75em;
}

fieldset label {
	font-size: 22px;
}

input:focus {
  background: #eeeeee;
  outline: 1px solid #ffc598;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content-form {
	position: relative;
}

#year {
	width: 100%;
}

.radiobox-gender {
	display: flex;
	flex-wrap: wrap;
}

.radiobox-gender .gender{
	width: 50px;
}

.radiobox-gender .gender input[type=checkbox]{
	width: 30px;
	height: 30px;
}

.radiobox-mobile-carrier {
	display: flex;
	flex-wrap: wrap;
	
}

.radiobox-mobile-carrier .mobile_carrier {
	width: 40px;
}

.radiobox-mobile .mobile-hello {
	width: 50px;
}

.empty {
	display:inline-block;
	width: 100%;
	width: 0.90em;
	height: 0.90em;
}

#fieldset-id-error,
#fieldset-emailAuthKey-error,
#fieldset-pw-error,
#fieldset-pwcfm-error,
#fieldset-email-error,
#fieldset-mobile-error,
#fieldset-name-error,
#fieldset-birth-error {
	color: red; 
	font-weight: 300; 
	font-size: small;
}

.content-form input {
	width: 100%;
	border: none;
	font-size: 22px;
	color: #909090;
	border-bottom: 1px solid #8c8c8c;
	height: 30px;
	background: #fff;
}

.input-container-terms input {
	width: 22px;
}

.input-container-terms .checkbox p {
	line-height: 250%;
}
.filedset-pwArea {
	position: relative;
	margin-bottom: 0;
}
fieldset i {
	position: absolute;
	left: calc(100% - 34px);
	margin-top: 7px;
	cursor: pointer;
}


.under-content-button {
    text-align: center;
}

#btn_next {
	border: none;
	border-radius: 50px;
	width: 150px;
	height: 40px;
	font-size: 18px;
	font-weight: 1000;
	color:#fff;
	text-align: center;
	background-color: #343a40;
}

#btn_back {
	border: none;
	border-radius: 50px;
	width: 150px;
	height: 40px;
	font-size: 18px;
	font-weight: 1000;
	color:#fff;
	text-align: center;
	background-color: #343a40;
}

.id_ok{
	color:green;
	display: none;
}

.id_already{
	color:red;
	display: none;
	}

#fieldset-emailAuthKey {
	display: none;
}

#emailAuthCheck_btn, #emailAuthKeyInputCheck_btn {
	width: 100px;
	height: 30px;
	border-radius: 10px;
	background: #2f2f2f;
	color: #fff; 
	float: right;
}

#emailAuthCheck_btn {
	display: none;
}

#emailAuthCheck_btn:hover {
	background: #ddd;
	color: #2f2f2f;
}

#emailAuthKeyInputCheck_btn {
	width: 140px;
}

#emailAuthSuccess {
	display: block;
	font-size: 18px;
	color: green;
	margin-top: 10px;
}

#check-id,#insert-id {
	font-weight: 500;
	font-size: small;
	display: block;
	color: green; 	
}

#emailAuthTimer {
	font-size: 20px;
	float: right;
	margin-right: 20px;
	font-weight: 600;
}

#staticId {
	display: block;
	margin: 10px 0;
}

#submit-error {
	display:block;
	margin-bottom: 30px;
	font-size: 20px;
	color: red;
}

@media only screen and (max-width : 480px) {
	.content-form input {
		font-size: 18px;
	}
	
	.content-form input {
		font-size: 20px;
	}
	
	.main .main-inner {
		padding: 0 25px;
	}
	.title h1 {
		text-align: center;
	}
	
	#fieldset-pw>span {
		display: block;
	}
	
	#emailAuthTimer {
		float: none;
		font-size: 17px;
		display: block;
		margin-right: 0; 
	}
}

@media only screen and (max-width : 385px) {
	.container {
		min-width: 280px;
	}
	
	.content-form input {
		font-size: 12px;
	}
	
	fieldset label {
		font-size: 17px;
	}
	
	span {
		font-size: 8px;
	}
	#btn_next {
		width: 100px;
	}
	#btn_back {
		width: 100px;
	}
	fieldset i {
		margin-top: 6px;
	}
	
	#check-id,#insert-id {
		font-size: x-small;
	}
	#emailAuthKeyInputCheck_btn {
		width: 110px;
	}

	#emailAuthCheck_btn {
		width: 90px;
	}

	#emailAuthCheck_btn,#emailAuthKeyInputCheck_btn {
		margin-top: 5px;	
		height: 16px;
		font-size: 11px;
		line-height: 13px;
	}
	#emailAuthSuccess {
		font-size: 13px;
	}
	
	#emailAuthTimer {
		font-size: 15px;
	}
	
	#submit-error {
		font-size: 13px
	}
	
	#fieldset-id-error,
	#fieldset-emailAuthKey-error,
	#fieldset-pw-error,
	#fieldset-pwcfm-error,
	#fieldset-email-error,
	#fieldset-mobile-error,
	#fieldset-name-error,
	#fieldset-birth-error {
		font-size: x-small;
	}
}