<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.evolve.signup.mapper.SignupMapper"> 
	
	<insert id="signupInsert" parameterType="com.evolve.signup.vo.SignupVO">
		INSERT INTO las_member 
		(
			id,
			pw,
			name,
			birth,
			phone,
			email,
			signup_date,
			signup_type,
			update_date
		)
		VALUES
		(
			#{id},
			sha2(#{pw},256),
			#{name},
			#{birth},
			#{phone},
			#{email},
			now(), 
			#{signup_type}, 
			NOW()
		)
	</insert>
	
	<select id="memberIdSelect" parameterType="String" resultType="int">
		select Count(*) as count 
		from 
		las_member
		where id = #{id} AND del_yn = 0
	</select>
	
	<select id="memberSeqSelect" parameterType="String" resultType="int">
		select seq 
		from 
		las_member
		where id = #{id}  AND del_yn = 0
	</select>
	
	<insert id="agreementInsert" parameterType="hashmap">
		INSERT INTO las_essential_ta (
			member_seq,
			agreed_name,
			agreed,
			 greed_time
		)
		VALUES 
		(
			#{memberSeq}, 
			#{name},
			 1, 
			 NOW()
		 )
	</insert>
	
	<insert id="optionalInsert" parameterType="hashmap">
		INSERT INTO las_optional_ta (
			member_seq,
			optional_rule_name,
		 	agreed,
		  	agreed_time
		 )
			VALUES (
			#{memberSeq},
			#{name}, 
			1, 
			NOW()
		)
	</insert>
	
	<insert id="emailAuthInsert" parameterType="hashmap">
		INSERT INTO las_email_auth (
			email,
			key_value,
			expiry_time,
			ip
		)
			VALUES (
			#{email},
			#{authKey},
			DATE_ADD(NOW() ,INTERVAL 5 MINUTE),
			#{ip}
		)
	</insert>
	
	<update id="emailAuthTimeUpdate">
		UPDATE las_email_auth SET expiry_time = DATE_ADD(NOW() ,INTERVAL 5 MINUTE) WHERE email = #{id} AND ip = #{ip} ORDER BY expiry_time DESC LIMIT 1
	</update>
	
	<select id="emailAuthKeySelect" parameterType="hashmap" resultType="int">
		select COUNT(*) as count
		from (SELECT * FROM las_email_auth WHERE email= #{email} ORDER BY expiry_time DESC LIMIT 1)a
		WHERE key_value = #{authKey} and ip = #{ip} and expiry_time <![CDATA[>]]>  NOW()
	</select>
	
	<delete id="emailAuthKeyDelete" parameterType="hashmap">
		DELETE from las_email_auth
		WHERE key_value = #{authKey} and ip = #{ip} and email = #{email}
	</delete>
	
	
</mapper>